.info {
  margin: 20px 0px 0px 20px;
}

.content {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.link {
  text-decoration: none;
  margin: 10px;
  position: absolute;
}

.gif {
  width: 320px;
}

.work {
  border: 2px solid black;
}